.card-ro {
    background: #0f172a;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 3rem 2.5rem;
    width: 100%;
    max-width: 440px;
        border-radius: 12px;
    box-shadow: 0 6px 20px rgba(65, 244, 127, 0.15);
    text-align: center;
    animation: slideUp 0.6s ease-out;
}

.card-ro h2 {
    color: white;
}
.card-ro h3,p {
    color: white;
}
.card-ro li {
    color: white;
}

